# Domyslni wlasciciele
* @Dzmhar @M1KUS3Q

# foldery zespolow
/frontend/       @KN-IGNITe/frontend
/backend/        @KN-IGNITe/backend
/inference/      @KN-IGNITe/ml
/training/       @KN-IGNITe/ml

# Foldery konfiguracyjne - DevOps
/.github/        @Dzmhar @M1KUS3Q
docker-compose.yml @Dzmhar @M1KUS3Q
