# Domyslni wlasciciele
* @Dzmhar @M1KUS3Q

# foldery zespolow
/frontend/       @KN-IgnITe/frontend
/backend/        @KN-IgnITe/backend
/inference/      @KN-IgnITe/ml
/training/       @KN-IgnITe/ml

# Foldery konfiguracyjne - DevOps
/.github/        @Dzmhar @M1KUS3Q
docker-compose.yml @Dzmhar @M1KUS3Q
