DB_PORT=5432
DB_HOST=localhost

RABBITMQ_PORT=5672
RABBITMQ_HOST=localhost
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=tapcast
RABBITMQ_DEFAULT_PASS=password
TRAINING_QUEUE_NAME=model-training-jobs

S3_PORT=9000
S3_HOST=localhost

S3_REGION=eu-east-1
S3_BUCKET_NAME=tapcast-models
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=password

MODEL_BUNDLE_S3_PREFIX=demand-models/latest


INFERENCE_PORT=50051
INFERENCE_HOST=localhost

BACKEND_PORT=8080

VITE_API_URL=http://localhost:8080/api

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DB_NAME=postgres

GOOGLE_APPLICATION_CREDENTIALS="tapcast-firebase-key.json"
