DB_PORT=5432
DB_HOST=localhost

RABBITMQ_PORT=5672
RABBITMQ_HOST=localhost

S3_PORT=9000
S3_HOST=localhost

INFERENCE_PORT=50051
INFERENCE_HOST=localhost

BACKEND_PORT=8080

VITE_API_URL=http://localhost:8080/api

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DB_NAME=postgres
